/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

.custom-bg {
  background-color: #090b0c;
}

.custom-bg:hover {
  background-color: #114156;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #d5dcde;
}

.navbar-nav {
  display: flex;
  column-gap: 5rem;
}

.nav-item {
  position: relative;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  color: #090b0c;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #090b0c;
}
.nav-item a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #090b0c;
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: 0.4s;
}

.nav-item a:hover::after,
.nav-item .home-active::after {
  width: 90%;
}

.box:hover {
  transform: scale(1.1);
  transition: 1s;
}

/*swipper*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*availability-form*/
.availability-form {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.pop:hover {
  border-top-color: #0dc4e0 !important;
  transform: scale(1.03);
  transition: all 0.3s;
}

.box:hover {
  border-top-color: #011518 !important;
  transform: scale(1.1);
  transition: all 0.3s;
}

.name:hover{
  color: #003566;
  font-weight: bold;
}

.tag:hover{
  color: #0d0de0;
}



